extends ../layout
block content
  h1 チーム編集

  - if(err)
    - const errors = err.errors
    ul.errors
      each error in errors
        li= error.message

  form.box(action=`/manager/teams/${team.id}`, method="post")
    _csrf
    _method put
    input(type='hidden', name='id', value=team.id)
    div  
      label(for="name") チーム名
      input#name(type='text', name="name", value=team.name)
    div.actions
      input(type="submit", value='送信')